
<div class='flex-1 relative z-0 overflow-y-auto focus:outline-none bg-cool-gray-50'>
<div class="bg-white py-6 pl-16 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <p class="text-cyan-500 lg:text-lg font-semibold mb-2 md:mb-3">掲示板</p>

    <h2 class="text-gray-800 text-2xl lg:text-2xl font-bold mb-4 md:mb-6">つながりを活用しよう</h2>

    <p class="max-w-screen-md text-gray-500 md:text-base">話を聞きたい、やってみたい、助けてほしい…etc<br>
    気軽に投稿し、参加してみましょう。<br>
    <br>
      <%= link_to new_board_path do %>
        <button class="bg-cyan-600 text-white active:bg-sky-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150" type="button"
        >＋   投稿する
        </button>
      <% end %>
    </p>
  </div>
</div>
<div class='max-w-screen-2xl mx-auto py-3 px-4 lg:px-6 2xl:px-8'>
  <ul class="pl-16 grid grid-cols-1 gap-6 lg:gap-4 lg:grid-cols-2 xl:gap-3 xl:grid-cols-4 2xl:gap-6">
    <!-- 掲示板一覧 -->
    <%= render @boards %>
  </ul>
</div>
</div>

