
<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<section class="relative  bg-teal-200">
  <div class="relative pt-20 pb-20 ml-2 flex content-center items-center justify-center min-h-screen-75">
    <!--div class="absolute top-0 w-full h-full bg-center bg-cover" style="
      background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80');
    "-->
    <!--span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"--!><!--/span-->
    <!--/div-->
    <div class="container relative mx-auto">
      <div class="items-center flex justify-center">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-2">
            <h1 class="text-gray-900 font-semibold text-4xl ml-8">
            つながりは、あなたの力になる。
            </h1>
            <p class="mt-4 ml-8 text-lg text-gray-900 ">
            connectは、組織内の枠組みを超えた<br>自発的なコミュニケーションを後押しするアプリです。
            </p>
          </div>
          <div class="pr-12 mt-20">
            <%= link_to new_user_path do %>
              <button class="bg-blue-600 text-white active:bg-sky-blue-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ml-9 ease-linear transition-all duration-150" type="button"
                >Sign up
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-10 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">つながりを力に変える</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                話がしたい、困っている、意見が聞きたい<br>
                掲示板機能を使って気軽に投稿してみよう<br>
                つながりは、あなたの助けになる<br>
                つながりは、誰かの助けになれる<br>
                <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">「あの人と話をしてみたい」<br>のきっかけをつくる</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                最初の一歩には勇気が必要<br>
                充実したプロフィールやconnectボタンで<br>
                あなたのつながりをサポートする<br>
                その勇気から始まるつながりは、<br>
                きっとあなたの力になる
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">つながりを視覚化する</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                <!--広く、浅く、深く、好き、嫌い<br>
                様々なつながりを視覚化して<br>
                客観的にみてみよう<br>
                どんなつながりも、あなたの財産になる<br>-->
                <br>
                <br>
                comming soon<br>
                <br>
                <br>
                <br>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>